{% extends 'registration/dashboard-base.html' %}
{% block title %} Positions {% endblock title %}
{% load static %}
{% load bootstrap_tags %}
{% load custom_filters %}
{% block content %}
    <div class="card shadow-sm mb-4">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <i class="fa fa-table"></i>
            {#        <h6 class="m-0 font-weight-bold text-primary">Total Positions: {{positions.count}}</h6>#}
            <div class="d-flex">
                <button class="btn btn-sm btn-blue-main rounded-0" data-toggle="modal" data-target="#uploadStudent">
                    Add Position <i class="fa fa-plus text-yellow-main"></i>
                </button>
            </div>

        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered dt-responsive nowrap" id="dataTable" width="100%"
                       cellspacing="0">
                    <thead>
                    <tr>
                        <th>SN</th>
                        <th>Position Name</th>
                        <th width="9%">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for position in positions %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ position.name }}</td>
                            <td>
                                <span class="fa fa-edit text-warning" type="button" data-toggle="modal"
                                      data-target="#edit{{ position.id }}"></span>
                                <span class="fa fa-trash text-danger" type="button" data-toggle="modal"
                                      data-target="#delete{{ position.id }}"></span>
                            </td>
                        </tr>
                        <div class="modal fade" id="edit{{ position.id }}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header bg-blue-main text-light">
                                        <b>Update {{ position.name }}</b>
                                    </div>
                                    <div class="modal-body">
                                        <form method="post" action="{% url 'update_position' %}"
                                              enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {{ edit_position_forms|get_item:position.id|as_bootstrap }}
                                            <input hidden type="number" name="position_id" value="{{ position.id }}"
                                                   readonly required>
                                            <button type="submit" class="btn btn-sm btn-blue-main rounded-0">Save
                                                Changes
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {# delete modal #}
                        <div class="modal fade" id="delete{{ position.id }}">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header bg-blue-main text-light">
                                        <b>Delete {{ position.name }}</b>
                                    </div>
                                    <form method="post" action="{% url 'delete_position' %}"
                                          enctype="multipart/form-data">
                                        <div class="modal-body">
                                            Are your sure you want to delete {{ position.name }}

                                            {% csrf_token %}
                                            <input hidden type="number" name="position_id" value="{{ position.id }}"
                                                   readonly required>

                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-sm btn-danger" data-dismiss="modal"
                                                    aria-label="Close">Cancel
                                            </button>
                                            <button type="submit" class="btn btn-sm btn-blue-main rounded-0">Yes
                                                delete
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade" id="uploadStudent">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-blue-main text-light">
                    <b>Create new Position</b>
                </div>
                <div class="modal-body">
                    <form method="post" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|as_bootstrap }}
                        <button type="submit" class="btn btn-sm btn-blue-main rounded-0">Save Position</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}