{% extends 'registration/dashboard-base.html' %}
{% block content %}
{% load static %}
{% load bootstrap_tags %}
<div class="row justify-content-center">
    <div class="col-sm-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="text-center text-yellow-main">Change Password</h5>
                <hr>
                <form method="post" action="{% url 'change_password' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        {{form|as_bootstrap}}
                    </div>
                    <div class="mt-2">
                        <button type="submit" class="btn btn-success btn-sm btn-success">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}